main{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-gap: 3px;
    
}

app-square {
    border: 0px grey solid;
    height: 50px;
    width:50px;
}

button{
    margin-top:0px;
    border-color: black;
    margin-bottom: 10px;
    background-color: blanchedalmond;
    font-size: large;
    border-radius: 5px;
}

#win-announce{
    position: fixed;
}